---
import image1 from "@assets/publications/1.png";
import image2 from "@assets/publications/2.png";
import image3 from "@assets/publications/3.png";
import image4 from "@assets/publications/4.png";
import image5 from "@assets/publications/5.png";
import image6 from "@assets/publications/6.png";
import Card from "../components/Card.astro";
import { ListPublications } from "../data/publications";
import Layout from "../layouts/Layout.astro";

//NOTE: Add a type by each publication
//NOTE: C=CONFERENCE, J=JOURNAL, P=PATENT, S=IN SUBMISSION, T=THESIS
const images = [image6, image5, image4, image3, image2, image1];
---

<Layout title="Yhonatan|Publications" page="publications" transition:animate="slide">
  <section class="col-span-8 col-start-3">
    {ListPublications.map((publication, index) => (
        <Card
          title={publication.title}
          event={publication.event}
          authors={publication.authors}
          image={images[index]}
          year={publication.year}
          doi={publication.doi}
          url={publication.url}
          pdf={publication.pdf}
          alt={publication.alt}
          video={publication.video}
        />
      ))}
  </section>
</Layout>
