---
import { ListPublications } from '@data/publications'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import ResumeHeader from '@components/ResumeHeader.astro'

import Layout from '@layouts/Layout.astro'
---

<Layout title="Yhonatan|Resume" page="resume" transition:animate="slide">
  <Header />
  <ResumeHeader />

  <div class="col-span-10 col-start-2 md:col-span-6 md:col-start-4">
    <div
      class="text-xl md:text-3xl font-alegreya-semi-bold-italic text-primary border-b-3"
    >
      🎓 Education
    </div>
    <div class="flex flex-row">
      <div class="w-3/4">
        <p class="text-xl font-alegreya-semi-bold-italic pl-5 pt-3">
          Paris-Saclay University (UPSaclay)
        </p>
        <p class="font-montserrat-light pl-6 pt-2">PhD. Student</p>
        <p class="text-xl font-alegreya-semi-bold-italic pl-5 pt-3">
          Federal University of Rio Grande do Sul (UFRGS)
        </p>
        <p class="font-montserrat-light pl-6 pt-2">
          Master's Degree in Computer Science
        </p>
        <p class="text-xl font-alegreya-semi-bold-italic pl-5 pt-3">
          National University of San Agustin (UNSA)
        </p>
        <p class="font-montserrat-light pl-6 pt-2">
          Bachelor's Degree in System Engineering
        </p>
      </div>
      <div class="w-1/4">
        <p class="text-right font-montserrat-semi-bold pt-3">Paris, France</p>
        <p class="text-right font-montserrat-regular pt-2">
          January 2026 (On going)
        </p>
        <p class="text-right font-montserrat-semi-bold pt-3">
          Porto Alegre, Brazil
        </p>
        <p class="text-right font-montserrat-regular pt-2">January 2024</p>
        <p class="text-right font-montserrat-semi-bold pt-3">Arequipa, Peru</p>
        <p class="text-right font-montserrat-regular pt-2">May 2016</p>
      </div>
    </div>
  </div>

  <div class="col-span-10 col-start-2 md:col-span-6 md:col-start-4">
    <div
      class="text-xl md:text-3xl font-alegreya-semi-bold-italic text-primary border-b-3"
    >
      🏛️ Internships
    </div>
    <div class="flex flex-row">
      <div class="w-3/4">
        <p class="text-xl font-alegreya-semi-bold-italic pl-5 pt-3">
          University of South Australia (UniSA)
        </p>
        <p class="font-montserrat-light pl-6">
          Australian Research Center for Interactive and Virtual Environment
        </p>
        <ul class="list-disc pl-10 font-montserrat-light">
          <li>Develop the connection from Virtual Environment to the cloud</li>
          <li>
            Prepare reports and presentations summarizing research findings
          </li>
        </ul>
      </div>
      <div class="w-1/4">
        <p class="text-right font-montserrat-semi-bold pt-3">
          Mawson Lakes, Australia
        </p>
        <p class="text-right font-montserrat-regular">April-October 2024</p>
      </div>
    </div>
  </div>

  <div class="col-span-10 col-start-2 md:col-span-6 md:col-start-4">
    <div
      class="text-xl md:text-3xl font-alegreya-semi-bold-italic text-primary border-b-3"
    >
      📚 Publications
    </div>
    <div>
      {
        ListPublications.map(({ title, event, doi, year, acronym, pdf }) => (
          <>
            <p class="pl-5 pt-3 text-xl font-alegreya-semi-bold-italic">
              {title}
            </p>
            <p class="pl-6 font-alegreya-italic">
              {event}, {year}. {acronym}
            </p>

            <a href={doi} target="_blank" class="font-montserrat-light pl-6">
              {doi}
            </a>
            <a href={pdf} target="_blank" class="font-montserrat-light">
              {pdf}
            </a>
          </>
        ))
      }
    </div>
  </div>

  <div class="col-span-10 col-start-2 md:col-span-6 md:col-start-4">
    <div
      class="text-xl md:text-3xl font-alegreya-semi-bold-italic text-primary border-b-3"
    >
      🏆 Awards and Honours
    </div>
    <div>
      <p class="text-xl font-alegreya-semi-bold-italic pl-5 pt-3">
        🥈 Audience Choice
      </p>
      <p class="font-montserrat-light pl-6">
        Vibrotactile Data Physicalization of COVID in South America
      </p>
      <p class="font-alegreya-italic pl-6">
        IEEE World Haptic Conference, 2021
      </p>
    </div>
    <div>
      <p class="text-xl font-alegreya-semi-bold-italic pl-5 pt-3">
        🥇 3DUI Contest Winner
      </p>
      <p class="font-montserrat-light pl-6">
        3DUI and The Phantom Limb: Multisensory Experience for Embodiment of
        Amputation
      </p>
      <p class="font-alegreya-italic pl-6">
        IEEE Conference on Virtual Reality and 3D User Interfaces, 2020
      </p>
    </div>
  </div>

  <div class="col-span-10 col-start-2 md:col-span-6 md:col-start-4">
    <div
      class="text-xl md:text-3xl font-alegreya-semi-bold-italic text-primary border-b-3"
    >
      🤝 Academic Services
    </div>
    <div class="flex flex-row pt-3">
      <div class="w-3/4">
        <p class="text-xl font-alegreya-semi-bold-italic pl-5">Reviewer</p>
        <p class="font-montserrat-light pl-6">EuroVis</p>
      </div>
      <div class="w-1/4 font-montserrat-regular">
        <p class="text-right">Year</p>
        <p class="text-right">2025</p>
      </div>
    </div>
  </div>

  <Footer />
</Layout>
