---
import { ListPublications } from '../data/publications'
import Card from '../components/Card.astro'

import image1 from '@assets/publications/1.png'
import image2 from '@assets/publications/2.png'
import image3 from '@assets/publications/3.png'
import image4 from '@assets/publications/4.png'
import image5 from '@assets/publications/5.png'
import image6 from '@assets/publications/6.png'

const images = [image6, image5, image4, image3, image2, image1]
---

<div class="md:col-span-8 md:col-start-3 col-span-10 col-start-2">
  <h1
    class="text-left text-4xl font-alegreya-semi-bold-italic text-primary pt-10 pb-10"
    id="publications"
  >
    Publications
  </h1>
  <section class="font-montserrat-regular">
    {
      ListPublications.map((publication, index) => (
        <Card
          title={publication.title}
          event={publication.event}
          authors={publication.authors}
          image={images[index]}
          year={publication.year}
          doi={publication.doi}
          url={publication.url}
          pdf={publication.pdf}
          alt={publication.alt}
          video={publication.video}
          acronym={publication.acronym}
        />
      ))
    }
  </section>
</div>
